@use 'foundation/index' as ind;

body {
    @include ind.extra;
    
}



@function pow($base, $exp){
    $res: 1;
    @if $exp > 0 {
        @while $exp>0 {
            $res:$res*$base;
            $exp: $exp - 1;
        } 
    } @else {
        @while $exp < 0 {
            $res: $res / $base;
            $exp: $exp + 1;
        }
    }
   
    @return $res;
}
@debug pow(2, 3);
.style-1 {
    font-size: pow(2, 0) * 1px;
}
.style-2{
    font-size: pow(2, 4) * 1px;
}